.item-list {
  .swiper.swiper-horizontal {
    overflow: visible;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #fff;
    opacity: 0.7;
  }

  .swiper-button-disabled {
    display: none;
    opacity: 0;
  }

  .swiper-pagination-bullet-active {
    background: #fff;
  }

  .swiper-pagination.swiper-pagination-horizontal {
    top: -2.4em;
    right: 0;
    margin-right: 1em;
    text-align: right;
    bottom: auto;
  }
}
